.wrapperQuestContent{
  height: 380px;
  overflow-y: scroll;
}
.card-information{
  color: white;
  text-align: justify;
}
.wrapperQuestName{
  font: small-caps bold semi-condensed 28px/32px Arial;
  text-align: center;
  color: rgba(133,102,255,255);
}
.listQuest{
  float: right;
  width: 50%;
  padding: 5px;
}
.imgQuest{
  width:50%;
  padding: 5px;
}
.btnQuest{
  display: block;
  margin: 10px;
}
